<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Finder</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
   
    <h1>Restaurant Finder</h1>

    <div id="map" style="height: 500px;"></div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>

    var map = L.map('map').setView([
        {{ location.latitude|default:53.3844588 }},
        {{ location.longitude|default:-6.3829415}}
    ], 14);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var restaurants = {{ restaurants|safe }};

        restaurants.forEach(function(restaurant) {
            L.marker([restaurant.latitude, restaurant.longitude])
            .bindPopup(`<b>${restaurant.name}</b><br>${restaurant.address}`)
            .addTo(map);
        });
    </script>
</body>
</html>
